/* New Responsive */
.school-new-header {
    margin-bottom: 20px;
}

.school-point {
    color: #007bff;
    /* Adjust the color as needed */
    font-size: 24px;
    /* Adjust the size as needed */
}

.school-new-info h1 {
    font-size: 1.75rem;
    /* Adjust the size as needed */
    color: #333;
    /* Adjust the color as needed */
}

.school-news-image {
    margin-bottom: 15px;
    /* Spacing for smaller screens */
}

.school-news-content {
    padding: 0 15px;
    /* Spacing for text content */
}

.school-news-footer {
    margin-top: 20px;
}

.school-news-page {
    margin-top: 30px;
}

/* Responsive adjustments */
/* @media (max-width: 768px) {
    .rp {
        padding: 0;
    }
} */

.school-educations-content {
    padding: 0 37px;
    /* Spacing for text content */
}

@media (max-width: 768px) {
    .row-sharings {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-1,
    .image-2,
    .image-3,
    .image-4,
    .image-5 {
        width: 100%;
    }

    .school-photos-image {
        height: 150px;
    }
}

/* Responsive adjustments */
@media (max-width: 768px) {

    .navbar--school,
    .navbar-school,
    .navbar-menu,
    .icon-search {
        flex-basis: 100%;
        /* Stacks the navbar items vertically on smaller screens */
        text-align: center;
    }

    .school-info {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .navbar-school {
        display: flex;
        align-items: center;
    }

    .navbar--school {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        position: static;
    }

    .navbar-school-menu {
        margin: auto;
        display: block;
    }

    .header-intro {
        opacity: 0.2;
    }

    .news {
        margin-top: 200px;
    }

    .school-educations-image {
        margin-top: 20px;
        height: 250px;
    }

    .researches {
        margin-top: 200px;
    }

    .research-shape {
        height: 720px;
    }

    .researches-svg {
        height: 80px !important;
    }

    .cooperates {
        margin-top: 200px;
    }
    
    .school-cooperates-detail {
        transform: unset
    }

    .school-sharings-people {
        margin: 50px;
        height: 400px;
    }

    .col-sharings {
        flex: 0 0 auto;
        width: 35%;
    }

    .school-sharings-detail {
        height: 350px;
    }

    .sharings-content {
        margin-top: 40px !important;
    }

    .row-sharings {
        justify-content: space-around;
    }

}

/* Additional responsive adjustments as needed */
/* @media (min-width: 576px) {

    .container,
    .container-sm {
        max-width: unset;
    }
} */