@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-height: 100vh;
}

.main-container {
    margin-top: 100px;
}

.navbar--school {
    margin-top: 20px;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    width: 100%;
    position: fixed;
    top: -21px;
    z-index: 999;
    background: #39B56A;
    height: 70px;
    padding-top: 12px;
}

p {
    margin-bottom: unset;
}

h4 {
    margin-bottom: unset;
}

.navbar-icon {
    z-index: 1;
    cursor: pointer;
}

.navbar-school {
    display: flex;
    justify-content: center;
}

.navbar-info {
    margin-left: 10px;
    color: white;
    z-index: 1;
}

.navbar-info p {
    font-size: 13px;
}

.navbar-school-menu {
    display: flex;
    z-index: 1;
    color: #fff ;
}

.navbar-school-menu p {
    margin: 10px;
    font-size: 15px;
    cursor: pointer;
}

.navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    display: block;
    position: absolute;
    width: 200px;
    z-index: 1000;
    width: 100%;
    left: -50px;
    width: 200px;
}

.search-input input[type="text"] {
    width: 60%;
    /* Adjust the width as per your design */
    padding: 5px 15px;
    font-size: 16px;
    /* Adjust font size as needed */
    border: 1px solid #ccc;
    /* Border color */
    border-radius: 25px;
    /* Rounded corners */
    outline: none;
    /* Removes the default focus outline */
    transition: all 0.3s ease;
    /* Smooth transition for interactions */
}

.search-input input[type="text"]:focus {
    border-color: #00ff51;
    /* Change border color on focus */
}

.search-input input[type="text"]::placeholder {
    color: #aaa;
    /* Placeholder text color */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .search-input input[type="text"] {
        width: 80%;
    }
}

.icon-search {
    color: white;
    z-index: 1;
    font-size: 20px;
    cursor: pointer;
}

.header-intro {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    color: white;
    z-index: 1;
}

.school-points {
    position: absolute;
    left: 45px;
    top: 1147px;
}

.school-points i {
    color: #109106;
    font-size: 25px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.school-info {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}

.school-info-1 {
    width: 250px;
    height: 200px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
    margin-top: 40px;
    border-radius: 0px 40px;
}

.school-info-2 {
    width: 250px;
    height: 200px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
    border-radius: 0px 40px;
}

.school-info-icon {
    margin-left: 10px;
}

.school-info-icon i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.8rem;
    height: 3.8rem;
    background: transparent;
    border-radius: 50%;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
    font-size: 2rem;
    margin: -0.2rem 0.5rem 1.0rem 0;
    transition: 0.5s ease;
}

.fa-pizza-slice {
    color: #bc5b5b;
}

.fa-ice-cream {
    color: #E1B07B;
}

.fa-cheese {
    color: #F9D978;
}

.fa-pepper-hot {
    color: #8A7EBE;
}

.school-info-1,
.school-info-2 {
    cursor: pointer;
    transition: transform 0.3s;
}

.school-info-1:hover,
.school-info-2:hover {
    transform: scale(1.05) translateY(-20px);
    z-index: 2;
}


.school-info-number {
    text-align: center;
}

.school-info-number h1 {
    color: #05c13e;
}

.school-point {
    width: 50%;
    /* text-align: center; */
}

.school-point i {
    color: #109106;
    font-size: 25px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

/* New */

.school-new {
    width: 100%;
    /* padding: 0px 40px 70px 40px; */
    position: relative;
}

.school-news-point {
    position: absolute;
    right: -50px;
}

.school-news-point i {
    color: #109106;
    font-size: 25px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.school-new-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.school-new-info {
    text-align: right;
}

.school-new-info p {
    margin-top: 20px;
}

.school-new-info h1 {
    font-weight: bolder;
}

.school-news-image {
    height: 300px;
    overflow: hidden;
    border-radius: 5px 5px 5px 80px;
}

.school-news-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.school-news {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.school-news-content {
    padding-top: 50px;
    position: relative;
}

.school-news-content-md {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.school-news-content p {
    line-height: 30px;
    font-weight: lighter;
    margin-top: 10px;
}

.school-news-content h5 {
    font-weight: bolder;
}

.school-news-footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /* position: absolute;
    bottom: 20px;
    width: 95%; */
}

.school-news-footer p {
    color: red;
    font-weight: 600;
}

.school-news-page {
    text-align: right;
}

.school-news-page i {
    font-size: 20px;
    color: #1daf03;
}

.fa-history span {
    font-weight: 400;
}

.news-image-container {
    position: relative;
    overflow: hidden;
}

.news-image {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.news-image.animateRight {
    transform: translateX(100%);
}

.news-image.animateLeft {
    transform: translateX(-100%);
}

/* Education */
.educations-image {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.educations-image.animateRight {
    transform: translateX(100%);
}

.educations-image.animateLeft {
    transform: translateX(-100%);
}

.school-point-education {
    text-align: center;
}

.school-point-education i {
    color: #109106;
    font-size: 25px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.school-educations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    position: relative;
}

.school-point-out {
    position: absolute;
    left: 0;
    top: 74px;
    transform: translateX(-65px);
}

.school-point-out i {
    color: #109106;
    font-size: 25px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.school-education-info h1 {
    font-weight: bolder;
}

.school-education-info p {
    margin-top: 20px;
}

.school-educations-image {
    height: 200px;
    overflow: hidden;
    /* border: 1px solid white; */
    border-radius: 5px 5px 40px 5px;
}

.school-educations-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.school-educations-content h5 {
    font-weight: bolder;
}

.school-educations-content p {
    line-height: 30px;
    font-weight: lighter;
    margin-top: 20px;
}

.school-educations-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.school-educations-page {
    text-align: center;
}

.school-educations-page i {
    font-size: 20px;
    color: #1daf03;
}

.school-educations-content-md {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Research */
.researches {
    width: 100%;
    height: 650px;
    background: linear-gradient(0deg, rgb(161 231 184 / 0%) 0%, rgb(1, 158, 72) 100%, rgb(255, 255, 255) 100%);
    position: relative;
    z-index: 1;
    margin-top: 700px;
}

.school-research-point {
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 25%;
}

.school-research-point i {
    color: #109106;
    font-size: 25px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

/* .research-shape {
    width: 100%;
    height: 650px;
    background: linear-gradient(0deg, rgb(161 231 184 / 0%) 0%, rgb(1, 158, 72) 100%, rgb(255, 255, 255) 100%);
    position: relative;
    z-index: 1;
} */

.school-research {
    position: relative; 
    margin-top: -650px;
    z-index: 2; 
    padding-top: 50px; 
}

.custom-shape-divider-bottom-1699974326 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    /* transform: rotate(180deg); */
}

.custom-shape-divider-bottom-1699974326 svg {
    position: relative;
    display: block;
    /* width: calc(100% + 300px); */
    height: 190px;
}

.custom-shape-divider-bottom-1699974326 .shape-fill {
    fill: #FFFFFF;
}

.school-research-header {
    margin-right: 30px;
    text-align: right;
    color: #fff;
    z-index: 1;
    position: relative;
}

.school-research-header p {
    margin-top: 15px;
}

.school-researches-detail {
    padding: 15px;
    background-color: #EDF5F4;
    border-radius: 4px 40px 4px 40px;
    width: 380px;
}

.school-researches {
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
}

.school-researches-image {
    width: 350px;
    height: 250px;
    /* border: 1px solid white; */
    border-radius: 5px 40px 5px 40px;
    overflow: hidden;
}

.school-researches-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detail-two {
    transform: translateY(60px);
}

.school-researches-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.school-researches-info h5 {
    font-weight: bolder;
}

.school-researches-info p {
    font-weight: bolder;
    color: red;
}

.md {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Cooperate */
.school-cooperate {
    margin-top: 80px;
    position: relative;
}

.school-cooperates-detail {
    display: flex;
}

.school-cooperates-image {
    width: 200px;
    height: 250px;
    /* border: 1px solid white; */
    border-radius: 5px 40px 5px 40px;
    overflow: hidden;
    margin-right: 5px;
}

.school-cooperates-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.school-cooperates-detail {
    transform: translateX(-75px);
    display: flex;
    margin-top: 80px;
}

.school-cooperates {
    display: flex;
    align-items: flex-start;
}

.school-cooperates-container {
    position: relative;
}

.school-cooperates-image-container {
    position: absolute;
    width: 400px;
    height: 500px;
}

.school-cooperates-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.1;
}

.school-cooperates-image-container {
    position: absolute;
    top: -80px;
    left: 0;
    z-index: -1; 
}

.text-cooperates {
    width: 100%;
    height: 250px;
    color: black;
}

.text-cooperates h5 {
    font-size: 1.2rem;
    font-weight: bolder;
    margin-top: 100px;
    margin-left: 6px;
}

.text-cooperates p {
    font-weight: lighter;
    margin-left: 7px;
}

.school-cooperates-footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 70px;
}

.school-cooperates-footer i {
    margin-left: 7px;
}

.school-cooperates-footer span {
    font-weight: 300;
}

.school-cooperates-footer p {
    font-weight: bolder;
    color: red;
}

.school-cooperate-header p {
    margin-top: 15px;
    font-weight: lighter;
}

.school-cooperates-page {
    width: 100%;
    text-align: right;
    transform: translateX(-30px);
}

.school-cooperates-page i {
    font-size: 20px;
    color: #1daf03;
}

/* Sharing */
.sharings {
    margin-top: 50px;
}

.row-sharings {
    display: flex;
    justify-content: space-between;
}

.school-sharing {
    position: relative;
    margin-top: 50px;
}

.school-sharing-point {
    position: absolute;
    right: -50px;
    top: 30%;
}

.school-sharing-point i {
    color: #109106;
    font-size: 25px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.school-sharing-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    ;
}

.school-sharing-info {
    text-align: right;
}

.school-sharing-info h1 {
    font-weight: bolder;
}

.school-sharing-info p {
    margin-top: 15px;
    font-weight: lighter;
}

.school-sharings {
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: transform 0.5s ease;
}

.school-sharings-people {
    width: 30%;
    position: relative;
    height: 350px;
    /* border: 1px solid white; */
    border-radius: 4px 40px 4px 40px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
    margin-right: 30px;
}

.school-sharings-avatar {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 40px;
}

.school-sharings-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.school-sharings-detail {
    padding: 80px 20px 20px 20px;
    height: 305px;
}

.school-sharings-detail h5 {
    font-weight: bolder;
    height: 40px;
}

.school-sharings-detail p {
    font-weight: lighter;
    margin-top: 25px;
    line-height: 27px;
}

.school-sharings-footer {
    padding: 0px 0px 20px 20px;
}

.school-sharings-footer span {
    font-weight: 400;
    margin-left: 5px;
}

.school-sharings {
    display: flex;
}

.school-sharings-page {
    text-align: right;
    margin-top: 50px;
    transform: translateX(-30px);
}

.school-sharings-page i {
    font-size: 20px;
    color: #1daf03;
}

/* Photos */
.animatePhotoRight {
    animation: slideRight 0.5s forwards;
}

.animatePhotoLeft {
    animation: slideLeft 0.5s forwards;
}

@keyframes slideRight {
    from {
        opacity: 1;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideLeft {
    from {
        opacity: 1;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.school-photo {
    position: relative;
}

.library-image {
    font-weight: bolder;
}

.school-photo-header p {
    margin-left: 5px;
    margin-top: 15px;
    font-weight: lighter;
}

.school-photo-point-1 {
    position: absolute;
    top: 8%;
    right: 30px;
}

.school-photo-point-2 {
    position: absolute;
    top: 60%;
    left: -40px
}

.school-photo-point-3 {
    position: absolute;
    bottom: -40px;
    right: 10%;
}

.fa-point {
    color: #109106;
    font-size: 25px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.school-photos-detail {
    display: flex;
    flex-wrap: wrap;
}

.school-photos-image {
    overflow: hidden;
    height: 250px;
    border-radius: 4px 40px 4px 40px;
    margin: 5px;
}

.school-photos-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-1 {
    width: calc(60% - 10px);
}

.image-2 {
    width: calc(40% - 10px);
}

.image-3 {
    width: calc(30% - 10px);
}

.image-4 {
    width: calc(30% - 10px);
}

.school-photos-page {
    text-align: center;
    margin: 50px 20px 0px 0px;
}

.school-photos-page i {
    font-size: 20px;
    color: #1daf03;
}


