.header {
    padding: 1rem 0;
}

.navbar--school {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navbar-school, .navbar-menu, .icon-search {
    flex: 1 1 auto;
}

.navbar-school {
    display: flex;
    align-items: center;
}

.navbar-info h4, .navbar-info p {
    margin: 0; /* Removes default margins */
}

.navbar-menu {
    text-align: center;
}

.header-intro, .school-info, .header-shape {
    margin-top: 20px;
}

.school-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.school-info > div {
    flex-basis: calc(50% - 10px); /* Adjusts the basis of each info block */
    margin-bottom: 10px;
    text-align: center; /* Centers the content */
}

.school-info-icon {
    font-size: 2rem; /* Adjusts the size of icons */
}

.school-info-number h1 {
    margin: 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .navbar--school, .navbar-school, .navbar-menu, .icon-search {
        flex-basis: 100%; /* Stacks the navbar items vertically on smaller screens */
        text-align: center;
    }

    .school-info > div {
        flex-basis: 100%; /* Full width for each info block on smaller screens */
    }

    .school-info {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .navbar-school, .navbar-menu, .icon-search {
        flex: 1 1 auto;
    }
    
    .navbar-school {
        display: flex;
        align-items: center;
    }
    
}

/* Additional responsive adjustments as needed */
